div[data-user]{
    border: 1px solid rgb(114, 114, 114);
    padding: 10px;
    margin-bottom: 10px;
}

div[data-status="activo"]{
    background-color: green;
}

div[data-status="inactivo"]{
    background-color: rgb(175, 29, 29);
    opacity: 0.7;
}

div[data-role="admin"]{
    border-left: 5px solid gold;
}

div[data-role="usuario"]{
    border-left: 5px solid silver;
}

button[disabled]{
    background-color: antiquewhite;
    cursor: not-allowed;
}

button:not([disabled]){
    cursor: pointer;
}

button:hover{
    opacity: 0.7;
}


button:active{
    transform: scale(0.9);
}


#arriba{
    background-color: black;
    
}

#abajo{
    background-color: orangered;
    padding: 200px;
}

#mensaje{
    text-align: center;
    font-style: italic;
    
}
